/* 5:23PM - Things to do:
1. Solve the error mentioned in script.js
2. Create a Profile Page
3. Fix counterUp function
7. Write a process blog entry for this*/


:root {
    --primary-color: #7D83FF;
    --shadow-color: #7d83ff50;
}

html, body {
    font-size: 16px;
    font-family: 'Nunito';
    margin: 0;
    padding: 0;
    color: rgb(32, 32, 32);
}

#mobile-menu {
    display: none;

}

.logo {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    margin: 0;
    color: white;
    background-color: var(--primary-color);
    box-shadow: 5px 0 8px var(--shadow-color);
}


#navbar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16vw;
    height: 100vh;
    margin: 0;
    box-shadow: 5px 0 8px var(--shadow-color);
    position: fixed;
}

#navbar-links {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
}

.links {
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 20px;
}

.nav-link-1 {
    box-sizing: border-box;
    font-size: 1.3rem;
    width: 90%;
    position: relative;
    padding: 30px 0;
    padding-left: 10%;
    margin: 0;
    font-weight: bold;
    color: rgb(32, 32, 32);
    text-decoration: none;
}

.navlink-flex {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
}

#main {
    display: flex;
    flex-flow: row;
}

#body {
    width: 100%;
    padding: 20px 40px;
    margin: 0;
    text-align: left;
    margin-left: 16vw;
}

.class-title {
    display: flex;
    flex-flow: row;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    color: var(--primary-color);
    box-shadow: 0 2px 10px var(--shadow-color);
}

.title-line {
    margin: 0 16px;
    border: solid 2px var(--primary-color);
    border-radius: 20%;
}

.card-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.stretched {
    grid-column: span 3;
}

.card-element {
    padding: 30px;
    font-size: 1.4rem;
    line-height: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 15%);
}

.bi-github {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    background-color: var(--primary-color);
    border: 0;
    text-indent: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    height: 50px;
    margin-top: 20px;
}

.bi-link {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    background-color: var(--primary-color);
    border: 0;
    text-indent: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    height: 50px;
}

.bi-menu {
    border: 0;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

button {
    cursor: pointer;
}

#close-nav {
    border: 0;
    background-color: white;
    display: none;
}

#menu {
    display: none;
}

#menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--primary-color);
    font-size: 1.5rem;
    padding: 0;
}

#menu-bar h2 {
    margin: 10px 0;
}

.line {
    border: solid 1px var(--primary-color);
}

.nav-icon {
    padding-right: 20px;
}

.icon {
    padding: 10px;
}

.bottom-empty {
    padding-bottom: 0;
}

.border-blue {
    border: solid 2px blue;
}

.border-red {
    border: solid 2px red;
}

.border-green {
    border: solid 2px green;
}

.border-orange {
    border: solid 2px orange;
}

.border-maroon {
    border: solid 2px maroon;
}

#body p {
    font-size: 1.2rem;
    line-height: 30px;
}


/* Assignments Page */

.a-body {
    width: 100%;
    padding: 20px 40px;
    margin: 0;
    text-align: left;
    margin-left: 16vw;
}

.desc-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    line-height: 10px;
    font-size: 1rem;
}

.desc-1 h2, p {
    padding: 5px 0;
}

.assignment-image {
    width:100%;
    border-radius: 8px 8px 0 0;
}

.a-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.assignment-item {
    font-size: 1.4rem;
    line-height: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 15%);
    padding-bottom: 20px;
}

.a-body p{
    line-height: 25px;
}

/* Process Blogs Page */

#b-body {
    width: 100%;
    padding: 20px 40px;
    margin: 0;
    text-align: left;
    margin-left: 16vw;
}

.blog-item {
    display: flex;
    flex-flow: row;
    align-items: center;
    font-size: 1.4rem;
    line-height: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 15%);
    padding: 20px 40px;
}

.blog-image {
    width: 50%;
    height: 50%;
}

.desc-2 {
    padding: 0 30px;
    line-height: 10px;
    font-size: 1rem;
}

/* Resources Page */

.resource-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    line-height: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 15%);
    padding: 0 20px;
}

.resource-item h2 {
    padding-left: 20px;
}

/* Media Tags */

@media (max-width: 1580px) {

    .logo {
        font-size: 1.5rem;
    }

    .nav-link-1 {
        font-size:  1.2rem;
    }

    .b-layout {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    #mobile-menu {
        display: none;
    
    }
    #navbar-links {
        display: flex;
    }
}

@media (min-width: 1581px) {
    .b-layout {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}

@media (max-width: 1400px) {
    
    #main {
        display: flex;
        flex-flow: column;
    }

    #navbar {
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin: 0;
    box-shadow: 5px 0 8px var(--shadow-color);
    background-color: white;
    }

    #navbar-links {
        display: flex;
        flex-flow: row;
        justify-content: center;
        margin: 0;
        padding: 0 0 0 30px;
        list-style: none;
    }

    
    .nav-link-1 {
        box-sizing: border-box;
        font-size: 1.1rem;
        text-align: center;
        margin: auto 0;
        padding: 0;
        font-weight: bold;
        text-decoration: none;
    }

    .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    width: 20%;
    height: 100%;
    margin: 0;
    box-shadow: 5px 0 8px var(--shadow-color);
    background-color: var(--primary-color);
    }

    #body, .a-body, #b-body {
        width: 90vw;
        margin: 100px auto 0 auto;
    }
}

@media (max-width: 1040px) {
    #navbar-links {
        box-sizing: margin-box;
        display: none;
        flex-direction: column;
        align-items: stretch;
        justify-content: start;
        width: 40%;
        height: 1000vh;
        padding: 20px 40px;
        background-color: white;
        margin: auto -50px 0 0;
        box-shadow: -5px 5px 8px var(--shadow-color);
    }

    .nav-link-1 {
        margin: 0;
        padding: 20px 0;
        font-size: 1.5rem;
        text-align: left;
        width: auto;
    }

    .navlink-flex {
        width: auto;
        white-space: nowrap;
    }

    #mobile-menu {
        display: flex;
    }

    #navbar {
       justify-content: space-between;
       margin: 0 auto;
       padding: 0 50px;
       z-index: 1000;
       background-color: white;
    }
    
    .logo {
        
        white-space: nowrap;
    }

    #close-nav {
        align-items: center;
        padding-left: 0 0 0 10%;
        color: var(--primary-color);
        font-size: 1.3rem;
        text-indent: 10px;
    }

    .card-layout, .b-layout, .a-layout {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .stretched {
        grid-column: span 2;
    }
}

@media (max-width: 900px) {
    html {
        line-height: normal;
        width: auto;
    }

    #body p {
        font-size: 1rem;
        margin: 0;
    }

    html h1 {
        font-size: 1.4rem;
    }

    html h2, h3 {
        font-size: 1.2rem;
    }

    #menu-bar h2{
        font-size: 1.5rem;
    }

    #navbar {
        justify-content: space-between;
        padding: 0 30px;
    }

    .logo {
        width: auto;
        padding: 20px;
    }

    #body {
        padding: 10px;
    }

}

@media (max-width: 690px) {
    .card-layout, .b-layout, .a-layout {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .stretched {
        grid-column: span 1;
    }

    #navbar{
        height: 7vh;
    }

    #mobile-menu {
        height: 50%;
        align-items: center;
    }

    #body, .a-body, #b-body {
        margin: 70px auto 0 auto;
        padding: 10px;
    }
}